.editor {
    margin-top: 35px;
    padding-inline: $padding;
    @media (max-width: $bp-xs) {
        width: 320px;
        margin: 35px auto 0;
    }
    @media (min-width: $bp-s) {
        margin-top: 45px;
    }
    @media (min-width: $bp-m) {
        margin-top: 48px;
    }

}

.editor__free-period {
    @include fontMontserrat;
    font-size: 14px;
    text-align: center;
    color: #848E97;
}

.editor__title {
    padding-top: 80px;
    @include fontMontserrat;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #635C73;
    @media (min-width: $bp-s) {
        padding-top: 94px;
        font-size: 42px;
        line-height: 42px;
    }
    @media (min-width: $bp-m) {
        padding-top: 66px;
        font-size: 54px;
    }
}

.editor__subtitle {
    padding-top: 27px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    @media (min-width: $bp-s) {
        padding-top: 33px;
        font-size: 21px;
        line-height: 32px;
    }
    @media (min-width: $bp-m) {
        padding-top: 35px;
    }
    @media (min-width: $bp-l) {
        @include container-l;
    }
    
}

.editor__wrapper {
    padding-top: 27px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 15px;
    @media (min-width: $bp-s) {
        padding-top: 24px;
        flex-wrap: nowrap;
    }
    @media (min-width: $bp-m) {
        padding-top: 33px;
        margin-bottom: 70px;
    }
}

.editor__button{
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
   
    color: #24292f;
    background-color:#f6f8fa;
    border-color: rgba(27, 31, 36, 0.28);
    box-shadow:  0 1px 0 rgba(27,31,36,0.04),inset 0 1px 0 rgba(255,255,255,0.25);
    transition-property: color,background-color,box-shadow,border-color;
    & svg {
        margin-right: 4px;
        vertical-align: text-top;
    }
    & span {
        margin-left: 2px;
        color: inherit;
        text-shadow: none;
        vertical-align: top;
        background-color: rgba (27, 31, 36, 0.08);
        display: inline-block;
        min-width: 20px;
        padding: 0 6px;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        color: #24292f;
        text-align: center;
        background-color: rgba(175, 184, 193, 0.2);
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 2em;
    }
    &:hover {
        background-color: #f3f4f6;
        border-color: rgba(37, 31, 36, 0.15);
        transition-duration: 0.1s
    }
    &:active {
        background-color: #ebecf0;
        border-color: #1b1f2426;
        transition: none;
    }
}

