.product{
    background-color: #f4f4f4;
}
.product__container{
    @media (min-width: $bp-m) {
        display: grid;
        column-gap: 40px;
        grid-template-areas: 
        'product-item title'
        'product-item editor';
    }
    @include container-l;
    @include container-xs;
    
}

.product__title {
    padding-top: 120px;
    @include fontMontserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $primeryColor;
    @media (min-width: $bp-s) {
        padding-top: 160px;
    }
    @media (min-width: $bp-m) {
        padding-top: 94px;
        grid-area: title;
        padding-bottom: 20px;
        font-size: 48px;
        line-height: 50px;
        padding-right: 10px;
    }
    @media (min-width: $bp-l) {
        padding-right: 0;
    }
}

.product__wrapper{
    padding-inline: $padding;
    @media (min-width: $bp-m) {
        grid-area: product-item;
        padding-bottom: 72px;
    }
    @media (min-width: $bp-l) {
        padding-inline: 0;
    }
}

.product__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    @media (min-width: $bp-s) {
        padding-top: 60px;
        flex-direction: row;
        &:first-child{
            padding-top: 50px;
            gap: 23px;
        }
        &:nth-child(2){
            gap: 43px;
        }
        &:nth-child(3){
            gap: 70px;
        }
        &:last-child{
            gap: 62px;
        }
    }
    @media (min-width: $bp-m) {
        padding-top: 34px;
        &:first-child{
            padding-top: 98px;;
        }
    }
}

.product__item-title {
    padding-top: 23px;
    @include fontMontserrat;
    font-size: 16px;
    color: #323232;
    text-align: center;
    @media (min-width: $bp-s) {
        padding-top: 0;
        line-height: 21px;
        text-align: inherit;
    }
}

.product__item-subtitle{
    padding-top: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #848E97;
    @media (min-width: $bp-s) {
        text-align: inherit;
    }
}

.product__editor-img {
    padding-block: 64px 6px;
    padding-inline: 0;
    width: 100%;
    content: url('../../../dist/img/hereget/editor1.png');
    @media (min-width: $bp-s) {
        content: url('../../../dist/img/hereget/editor2.png');
    }
    @media (min-width: $bp-m) {
        grid-area: editor;
        content: url('../../../dist/img/hereget/editor3.png');
        padding-top: 0;
        padding-block: 0 0;
    }
}